.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #020617;
  color: white;
}

.settings-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings-card input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #0f172a;
  color: white;
}

.settings-card button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #6366f1;
  color: white;
  cursor: pointer;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
}
